@font-face {
    font-family: 'Prostokvashino';
    src: url('Prostokvashino.woff2') format('woff2'),
        url('Prostokvashino.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'RotondaC';
    src: url('RotondaC.woff2') format('woff2'),
        url('RotondaC.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'RotondaC';
    src: url('RotondaC-Bold.woff2') format('woff2'),
        url('RotondaC-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

